body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
}

h2 {
    color: #333;
}

#home {
    background-color: #f0f0f0;
    text-align: center;
}
#home figure video{
    width: 30%; 
    height: auto;
}
#home figure {
    margin-top: 20px;
}

#home img {
    max-width: 100%;
}

article {
    margin-bottom: 20px;
}

article h3 {
    color: #333;
}

article p {
    color: #666;
}

article a {
    color: #007bff;
    text-decoration: none;
}

article a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    bottom: 0;
    width: 100%;
}
.video-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    display: none;
}